.main-page {
    min-width: 350px;
    width: 50%;
    height: 50%;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}